
<div class="jumbotron">
  <div class="container">
    <h2>Welcome, find the best concert tours ever!</h2>

    <p>
      Best Concert Ever is where you can rate all of your favorite concert tours! Here you can share are of your favorite shows with the world.
    </p>
    <hr><hr>
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3">
        <p><small>Not signed up yet? Click below to create a new account!</small></p>
        <%= link_to "Signup", new_user_registration_path, class:"btn btn-primary" %>
      </div>
    </div>

    </p>
  </div>
</div>
